*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 78vw;
}

.header{
    margin-bottom: 8dvh;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.header-ul{
    display: flex;
    align-items: center;
    gap: 3.125dvw;
    overflow: hidden;
}

.header-ul li{
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
}

.header-ul li:hover{
    color: #EE8313;
    overflow: hidden;
}

.header-btn{
    overflow: hidden;
}

.header-btn button{
    margin-left: 1.5dvw;
    width: 12dvw;
    height: 6dvh;
    background-color: #EE8313;
    color: #ffffff;
    border: 0;
    outline: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1rem;
    transition: .4s;
}

.header-btn button:hover{
    background-color: #13a5ee;
}

.main{
    margin-bottom: 24dvh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-inner{
    display: flex;
}

.main-title{
    margin-bottom: 4dvh;
    font-size: 3.25rem; 
}

.main-subtitle{
    margin-bottom: 6dvh;
    font-size: 1rem;
}

.main-btns{
    margin-bottom: 5.3dvh;
    display: flex;
    gap: 2.2dvw;
}

.main-btn{
     cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 1rem;
}

.main-btn-1{
    width: 8dvw;
    height: 6dvh;
    background-color: #EE8313;
    color: #ffffff;
    transition: .4s;
}

.main-btn-1:hover{
    background-color: #13a5ee;
    transition: .4s;
}

.main-btn-2{
    width: 13dvw;
    height: 6dvh;
    border: 1px solid #EE8313;
    background-color: transparent;
    color: #EE8313;
    transition: .4s;
}

.main-btn-2:hover{
    background-color: #13a5ee;
    color: #ffffff;
    transition: .4s;
    border: 1px solid #13a5ee;
}

.main-another{
    display: flex;
    gap: 2.6dvw;
}

.main-another div{
    display: flex;
    gap: 1dvw;
}

.main-numbers{
    display: flex;
    align-items: end;
    font-size: 2.5rem;
}

.main-text{
    padding-top: 4dvh;
    font-size: 1rem;
}

.main-right img{
    position: absolute;
    right: 0;
    width: 59%;
}

.main-right div{
    position: absolute;
    right: 0;
    width: 44%;
    height: 65%;
    background-color: #343434;
}

.cars{
    display: flex;
    justify-content: center;
}

.cars-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cars-title{
    margin-bottom: 5vh;
    font-size: 3.25rem;
}

.cars-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.cars-item{
    margin-bottom: 8dvh;
    padding: 6dvh 3dvw;
    width: 38dvw;
    height: 70dvh;
    display: flex;
    justify-content: space-between;
    background-color: #9e0000;
}

.cars-item-1{
    background-image: url(../content/images/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cars-item-2{
    background-image: url(../content/images/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.cars-item-3{
    background-image: url(../content/images/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.cars-item-4{
    background-image: url(../content/images/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.first-part{
    font-size: 2.5rem;
}

.second-part{
    cursor: pointer;
    display: flex;
    align-items: end;
    font-size: 1.5rem;
}

.second-part img{
    margin-bottom: .5dvh;
    margin-left: .5dvw;
}

.services{
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-title{
    margin-bottom: 8dvh;
    font-size: 3.25rem;
}

.services-block{
    display: flex;
    gap: 2dvw;
}

.services-item img{
    margin-bottom: 3dvh;
    width: 25dvw;
    height: 48dvh;
}

.services-item-title{
    margin-bottom: 2dvh;
    font-size: 1.5rem;
    font-weight: 700;
}

.services-item-text{
    margin-bottom: 8dvh;
    width: 24dvw;
    font-size: 1rem;
    font-weight: 200;
}

.cites{
    display: flex;
    justify-content: center;
}

.cites-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cites-title{
    margin-bottom: 5dvh;
    width: 40dvw;
    text-align: center;
    font-size: 3.25rem;
}

.cites-block{
    margin-bottom: 8dvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3dvh;
}

.cites-item{
    width: fit-content;
    background-color: #171717;
}

.cites-item-textarea{
    padding: 3dvh 1.5dvw;
}

.cites-item-textarea div{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cites-item-title{
    margin-bottom: 1.3dvh;
    width: fit-content;
    font-size: 1.5rem;
}

.cites-item-text{
    margin-bottom: 3dvh;
    width: fit-content;
    font-size: 1rem;
    font-weight: 200;
}

.cites-item-info{
    margin-bottom: 2dvh;
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
}

.cites-item-more{
    cursor: pointer;
    width: fit-content;
    font-size: 1rem;
    color: #EE8313;
    transition: .4s;
}

.cites-item-more:hover{
    color: #13a5ee;
    transition: .4s;
}

.location{
    display: flex;
    justify-content: center;
}

.location-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-title{
    padding-top: 13dvh;
    margin-bottom: 5dvh;
    font-size: 3.25rem;
}

.location-inner img{
    margin-bottom: 13dvh;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F1905;
}

.footer-inner{
    height: 50dvh;
    display: flex;
    justify-content: space-between;
}

.footer-part-1{
    padding-top: 5dvh;
    display: flex;
    flex-direction: column;
}

.footer-part-1 div{
    display: flex;
    align-items: center;
}

.footer-part-1 img{
    width: 3dvw;
    height: 6dvh;
}

.footer-part-1 p{
    font-size: 1.125rem;
}

.footer-promo{
    padding-left: 1dvw;
    font-size: 1rem !important;
}

.footer-text{
    padding-top: 9dvh;
    margin-bottom: 1dvh;
    width: 15dvw;
    font-size: 1.125rem;
    font-weight: 200;
}

.footer-part-2{
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 4dvw;
}

.footer-list-3{
    padding-right: 3dvw;
}

.footer-item-title{
    margin-bottom: 4.5dvh;
    font-size: 1.125rem;
    font-weight: 700;
}

.footer-item-text{
    margin-bottom: 4dvh;
    font-size: 1rem;
    font-weight: 200;
    transition: .4s;
}

.footer-item-text:hover{
    cursor: pointer;
    color: #13a5ee;
    transition: .4s;
}

.footer-list-4{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-list-4 li{
    cursor: pointer;
}

.footer-item-instagram{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.footer-list-4 li img{
    width: fit-content;
}

.footer-rights{
    padding: 3.5dvh 0;
    width: 100%;
    text-align: center;
    background-color: #EE8313;
    font-size: 1rem;
    font-weight: 200;
}
